page-profile {

	#toolbar {
		text-align: center;
	}

	#logoutBtn {
		float: right;
	}

	#title {
		margin: auto;
		margin-top: 10px;
	}

	#rating {
		float: left;
		margin-right: 15%;
		margin-left: 10%;
	}

	#follower {
		width: 40%;
		float: left;
	}

	#line {
		flex-direction: column;		
	}

}
