page-archive {

	#toolbar {
    text-align: center;
  }
  
  #label {
    float: left;
    margin-right: 15%;
    margin-left: 10%;
  }

  #selection {
    width: 40%;
    float: left;
    margin-top: 10px;
  }

	#logoutBtn {
		float: right;
  }

  #refreshBtn {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
	}

	#title {
		margin: auto;
		margin-top: 10px;
  } 
  
  #line {
    flex-direction: column;
  }

  #video {
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top: 5%;
  }

  #thumbs {
    margin-left: 15%;
    
  }
  
}
