page-mode {
	#modeButtons {
		flex-direction: column;
		display: block;
		margin: auto;
	}

	#toolbar {
		text-align: center;
	}

	#logoutBtn {
		float: right;
	}

	#title {
		margin: auto;
		margin-top: 10px;
	}



}
