<ion-header>
	<ion-navbar id="navbar">
		<div id="logoutBtn">
			<button ion-button right (click)="logout()">
				<ion-icon name="power" ios="ios-power" end></ion-icon>
			</button>
		</div>
		<div id="title">
			<ion-title>
				Options
			</ion-title>
		</div>
	</ion-navbar>
</ion-header>


<ion-content padding ng-controller="MainCtrl as main">
	<ion-list>
		<div id="selections">
			<ion-item>
				<ion-label>Genre</ion-label>
				<ion-select multiple="false" [(ngModel)]="genreID" (ngModelChange)="genreChangedEvent($event)">
					<ion-option *ngFor="let genre of genres">{{genre}}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label>Title</ion-label>
				<ion-select multiple="false" [(ngModel)]="titleID" (ngModelChange)="titleChangedEvent($event)">
					<ion-option *ngFor="let title of titles">{{title}}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngFor="let tit of playTitle">
				<audio id="audio" controls>
					<source src="Audio/{{genreID}}/{{tit}}.mp3" type="audio/mp3">
				</audio>
			</ion-item>

			<ion-item>
				<ion-label>Subject</ion-label>
				<ion-select multiple="false" [(ngModel)]="subjectID">
					<ion-option value=love>Love</ion-option>
					<ion-option value=politics>Politics</ion-option>
					<ion-option value=religions>Religions</ion-option>
					<ion-option value=dreams>Dreams</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label>Duration</ion-label>
				<ion-select [(ngModel)]="duration">
					<ion-option value=15>0:15</ion-option>
					<ion-option value=30>0:30</ion-option>
					<ion-option value=45>0:45</ion-option>
					<ion-option value=60>1:00</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<button ion-button round full (click)="startRecording()">Start</button>
		<button ion-button round full (click)="uploadVideo()">Upload Video</button>
	</ion-list>

</ion-content>